/ObjectTracking/.vs
/ObjectTracking/Debug
/ObjectTracking/ipch
/ObjectTracking/opencv
/ObjectTracking/x64
/ObjectTracking.VC.db
ObjectTracking.VC.VC.opendb
/ObjectTracking/ObjectTracking/Debug
/ObjectTracking/ObjectTracking/x64
/ObjectTracking/ObjectTracking/ObjectTracking.vcxproj.user